@* @model IEnumerable<DoAnLapTrinhWeb.Models.tbLichSu> *@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userId = (string)ViewBag.userId;
    ApplicationDbContext context = new ApplicationDbContext();
    var listLichSu = context.tbLichSu.Where(lichSu => lichSu.userId == userId).ToList();
}
<h2>Lịch sử</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên sách
            </th>
            <th>
                Thời gian đọc
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in listLichSu)
        {
            <tr>
                <td>
                    @{
                        var Sach = context.tbSach.FirstOrDefault(b => b.Id == item.sachId);
                    }
                    @Sach.tenSach.ToString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.thoiGianDoc)
                </td>
                <td>
                    <button><a asp-controller="Books" asp-action="Details" asp-route-Id="@item.sachId">Xem sách</a></button> |
                   <button><a asp-controller="LichSu" asp-action="Delete" asp-route-sachId="@item.sachId" asp-route-userId="@item.userId">Xóa</a></button>
                </td>
            </tr>
        }
    </tbody>
</table>
